/* code-editor.component.css */
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */

/* .container {
    padding-top: 30px;
    padding-bottom: 30px;
  } */
  
  textarea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
  }
  
  button {
    font-size: 16px;
    padding: 10px;
  }
  
  img {
    max-height: 400px;
    max-width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  iframe {
    border: none;
    border-radius: 8px;
  }
  